@import "bootstrap/scss/bootstrap";

// PALETTE
$dollarGreen: #79a471;
$focusGreen: #5ffe74;
$transparentGreen: #79a47155;
$waterGreen: #278664;
$grey: #4e594a;
$white: #fefeea;
// MAIN
#app {
    min-height: 100vh;
    font-family: "DM Mono", monospace, Arial, Helvetica, sans-serif;
    color: $white!important;
    background-color: $waterGreen;
    opacity: 0.9;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, $waterGreen 7px ), repeating-linear-gradient( $transparentGreen, $dollarGreen );
}

// INPUTS STYLING
@mixin inputsStyles($border-color, $focus-color) {
    border:2px solid $border-color!important;
    color: $white!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
        border-color: $focus-color!important;
        outline: 0;
        box-shadow: 0 0 0.25rem 0.25rem $focus-color!important;
    }
}